body {
    width: 100vw;
    height: 100vh;
}

* {
    font-family: "Poppins";
}

section {
    width: 100vw;
    height: 100vh;
}

.flex { display: flex; }
.center { justify-content: center; align-items: center; }
.row { flex-direction: row; }
.col { flex-direction: column; }
.wrap { flex-wrap: wrap; }